.form-custom {
    display: table;
    margin: auto !important;
}
.form-custom.register {
    width: 50%;
}
.form-custom.login {
    width: 25%;
}
.margin {
  margin: 0 !important;
}

.icon-teal {
  color: #26A69A;
}

.msg-error {
  color: red;
}
